<div class="row">
    <div class="col-md-6">
        <h6>Business Name</h6>
        <p><%= @profile.name %></p>

        <h6>Phone Number</h6>
        <p><%= @profile.phone %></p>
    </div>

    <div class="col-md-6">
        <h6>Typical Job Cost</h6>
        <p>₦<%= @profile.min_cost %> - ₦<%= @profile.max_cost %></p>
        <h6>Address</h6>
        <p><%= simple_format @profile.address %></p>
    </div>
</div>