<div class="col-md-9 mb-4">
  <div class="row">
    <div class="col-md-8">
      <%#= link_to (image_tag profile.image.variant(resize_to_limit: [600, 300])), profile %>
      <%= link_to image_tag(profile.image, style: "width: 100%"), profile.image %>
    </div>

    <div class="col-md-4">
      <div class="flex-grow-1 ms-3">
        <h5><%= profile.name %></h5>
        <p><%= profile.about.truncate(200) %></p>
        <p><%= link_to "Read more", profile, class: "text-success float-end" %></p>
    </div>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="send-message">
    <%= mail_to profile.email, "Send Message", class: "btn btn-success form-control" %>
  </div>

  <div class="address">
    <p class="text-muted"><small>
      <%= simple_format profile.address %>
    </small></p>
  </div>
</div>