<div class="row">
  <div class="col-md-8">
    <%= link_to image_tag(@profile.image, style: "width: 100%; height: 60vh"), @profile.image %>
    <%= render 'profiles/show_media' %>

    <div class="profile-about">
      <h5 class="mt-4">About</h5>
      <hr class="profile-hr" />
      <p><%= @profile.about %></p>
    </div>

    <div class="profile-meta mt-5 p-4">
      <h5>Business Details</h5>
      <hr class="profile-hr" />
      <br/>
      <%= render 'profiles/business_details' %>
    </div>
    <%#= render @profile.messages.where(parent_id: nil).includes(:user).order(id: :desc) %>
    <%#= render partial: 'messages/form', locals: { profile: @profile, parent: nil} %>
    <%#= link_to "Send Message", new_profile_message_path(@profile), class: "btn btn-primary" %>
    <%#= render partial: 'profiles/messages/message', collection: @profile.messages %>
  </div>

  <div class="col-md-4">
    <div class="profile-meta p-3">
      <h6>Contact <%= @profile.name %></h6>
      <% if !current_user %>
        <p><%= link_to "Log in", new_user_session_path %> to see details</p>
      <% else %>
        <%= mail_to @profile.email, "Send Message", class: "btn btn-success form-control" %>
      <% end %>
    </div>

    <div class="random">
      <%= render 'profiles/random_profiles' %>
    </div>
  </div>
</div>